<h1 mat-dialog-title>Modificar Usuario</h1>
<div mat-dialog-content>
 
  <form  class="example-form">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Cedula</mat-label>
      <input type="number" matInput placeholder="0708996657">
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre completo</mat-label>
      <input type="text" matInput placeholder="Guillermo Rafael">
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Apellido completo</mat-label>
      <input type="text" matInput placeholder="Correa Lasso">
    </mat-form-field><br>  

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput placeholder="Alborada 5ta Etapa">
    </mat-form-field><br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Edad</mat-label>
      <input type="number" matInput placeholder="22">
    </mat-form-field>
    
  </form>
  <div class="divBtnModificar">
    <button type="submit" mat-raised-button color = "primary">Modificar</button>
  </div>
  
</div>