
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<section class="form-InicioSesion">
  <h4>Registro</h4>
  <div class="closeModal">
   
    <button class="btnClose"  (click)="cerrarModelWindow()"> <span class="material-symbols-outlined">
      cancel
       </span></button>
  </div>
 
  <form>
  <input class="campos"  type="text" id="user" name="user" placeholder="Usuario" #usuario><br>
  <input class="campos" type="text" id="apellido" name="apellido"  placeholder="Contraseña" #password>
  <input class="campos" type="email" id="correo" name="correo"  placeholder="Contraseña" #password>
  <input class="btnIniciar" type="button" value="Registrar">
  
  </form>

</section>