<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a class="logo" href="/index.html">LOGO</a>
        <nav class="navheader">
          <ul class="nav_links">
            <li><a href="/index.html">Inicio</a></li>
            <li class="headerli"><a href="">Genero<i class="fa-solid fa-caret-down"></i></a>
            <li class="headerli"><a href="">Ofertas<i class="fa-solid fa-caret-down"></i></a>
           </li>
            
          </ul>
        </nav>
       
        <a class="cta"  href="#" ><button id="usButton" (mouseover)="cambioText()" (mouseout)="cambioUser()" ><app-data-user [dataUsuario]></app-data-user></button></a>
       
      </header>
</body>
</html>
