<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a class="logo" href="/index.html">LOGO</a>
        <nav class="navheader">
          <ul class="nav_links">
            <li><a href="/index.html">Inicio</a></li>
            <li class="headerli"><a href="">Asignaturas<i class="fa-solid fa-caret-down"></i></a>
            <ul class="menu-vertical">
              
              <li><a href="#">Sociales</a>
              </li>
            </ul></li>
            <li><a class="quienesomos" href="quienessomos.html">Quienes somos</a></li>
          </ul>
        </nav>
        
        <a class="cta" href="#"><button>Contáctanos</button></a>
       
      </header>
</body>
</html>
