@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400&display=swap');
*{
    list-style:none;
    font-family: 'Viga', sans-serif;
}



/* body{
    background-image: url('/src/assets/image/portadaimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */



/* header - footer */
header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 4%;
    border-radius: 20px;
}

footer{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    color: #83cbe9;
    align-items: center;
    bottom: 0;
}

.contenedorfooter{
    margin-left: auto;
    margin-right: auto;
}


/* menu desplegable inicio */
li,a,button{
    text-decoration: none;
}
.logo{
    cursor: pointer;
}
.nav_links{
    list-style: none;
    word-spacing: 50px;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a{
    transition: all 0.3s ease 0s;
    color: #0083A3;
}
.nav_links li a:hover {
    color: #83cbe9;
}

button{
    font-family: 'Viga', sans-serif;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover{
    background-color: #83cbe9;
}



.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    top: 60px;
    width: 150px;
    background-color: #0088a9;
    border-radius: 5px;

}



/* plantilla para form inicio sesión */
.form-InicioSesion{
    width: 400px;
    background: #21242762;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 7px 13px 37px #000;
    text-align: center;
}

.form-InicioSesion h4{
    font-size: 30px;
    margin-bottom: 40px;
    color: #83cbe9;
    
}

.campos{
  
    background-color: #24303c79;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid #1f535c;
    font-size: 16px;
    color: #83cbe9;
}
.campos::placeholder{
    color: #83cae95e;
    font-size: 16px;
}


.form-InicioSesion p{
    height: 40px;
    text-align: center;
    font-size: 10px;

}

.form-InicioSesion .btnIniciar{
    width: 60%;
    background: #0087a9c4;
    border: none;
    border-radius: 18px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}
.form-InicioSesion .btnIniciar:hover{
    background-color: #83cae98a;
}

/* fin↑ */
/* .nav_links li:hover .menu-vertical {
    display: block;

    

} */